@font-face {
    font-family: Aileron;
    src: url("./fonts/Aileron-Regular.otf") format("opentype");
}

@font-face {
    font-family: Aileron;
    src: url("./fonts/Aileron-Italic.otf") format("opentype");
    font-style: italic;
}

@font-face {
    font-family: Aileron;
    font-weight: bold;
    src: url("./fonts/Aileron-Bold.otf") format("opentype");
}

@font-face {
    font-family: Aileron;
    font-weight: bold;
    src: url("./fonts/Aileron-BoldItalic.otf") format("opentype");
    font-style: italic;
}

@font-face {
    font-family: Aileron;
    font-weight: 900;
    src: url("./fonts/Aileron-Black.otf") format("opentype");
}

body {
  font-family: Aileron, Helvetica, Arial;
  margin: 2vmax;
  height: calc(100% - 4vmax);
}

h1, h2, h3, h4, h5 {
  font-weight: 900;
  text-transform: uppercase;
}

a, a:not([href]):not([tabindex]) {
  color: #db0a5b;
}

a:hover, a:active, a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):active {
  color: #db0a5b;
  text-decoration:  underline;
}

blockquote {
	font-size: 2em;
}

.center {
  text-align: center;
}

.absCenter--cont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 75%;
}

.home-title span {
  text-transform: lowercase;
  font-size: 0.6em;
}

.panel--cont {
  margin-left: 40px;
  position: relative;
  width: 400px;
  height: 100%;
  display: inline-block;
  padding: 0 10px;
  vertical-align: top;
  padding: 0 10px;
}

.panel--cont a {
  text-align: center;
}

.panel--label {
  position: absolute;
  left: -30px;
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: top left;
  padding-right: 20px;
  border-right: 8px solid;
  font-style: italic;
}

.zine-list {
  width: 100%;
  height: 300px;
  max-width: 100%;
  display: inline-block;
  margin-bottom: 30px;
  padding: 10px;
}

.zine-list .titleCont {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  text-align: center;
}

.commit-cont {
  margin-bottom: 1rem;
}

.commit-cont p {
  margin: 0;
}

.zine-container {
  width: 100%;
  height: calc(100vh - 4vmax);
  overflow: hidden;
}

.zine-nav {
  z-index: 2;
  position: absolute;
  bottom: 3vmax;
  font-weight: bold;
  font-size: 2em;
  font-style: italic;
  background: white;
  padding: 4px 10px;
  cursor: pointer;
  opacity: 0.5;
}

.zine-nav:hover {
  opacity: 1;
}

.zine-nav--back {
  top: 3vmax;
  bottom: auto;
  left: 3vmax;
}

.zine-nav--prev, .zine-nav--reminder {
  left: 3vmax;
}

.zine-nav--next {
  right: 3vmax;
}

.zine-content--title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  background: white;
  padding: 4px 10px;
  text-align: center;
}

.zine-content--tocCont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.zine-content--tocCont ol {
  padding-inline-start: 1.4em;
}

.zine-content--tocCont li {
  font-size: 1.4em;
}

@media (max-width: 768px) {
	blockquote {
		font-size: 1.4em;
	}
  .panel--cont {
    width: 100%;
    margin: unset;
  }
  .panel--label {
    position: relative;
    transform: none;
    left: 0;
    margin-bottom: 20px;
    display: block;
  	border-left: 8px solid;
  	border-right: none;
  	padding-right: 8px;
    padding-left: 10px;
  }
  .zine-nav {
    font-size: 1.4em;
    opacity: 1;
  }
}
